/* ============================
VIDEO
============================ */
div.bg_rutube_centerVideo {    	   
	display: block;
	position:relative;
	width: 100%;
	margin: 0;
	padding: 0; 
	padding-top: 56.25%; 
}

div.bg_rutube_videoContainer,
div.bg_rutube_videoContainer iframe {    	   
	position:absolute;
	margin: 0; 
	padding: 0;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}
/* ============================
VIDEO PLAYLIST TABLE
============================ */
table.bg_rutube_videoPlayListInfo,
table.bg_rutube_videoPlayListTable {
	width: 100%;
	margin: 20px auto; 
}
table.bg_rutube_videoPlayListInfo tr, 
table.bg_rutube_videoPlayListTable tr {
	height: 4.5rem;
	border: 0;
	border-bottom: 2px solid white;
}
table.bg_rutube_videoPlayListTable tr {
	cursor: pointer;
}
table.bg_rutube_videoPlayListTable tr:nth-child(odd) {
	/* фон нечетных строк */
	background-color: #eeeeee; /* #ede4d6; */
}
table.bg_rutube_videoPlayListTable tr:nth-child(even) {
	/* фон четных строк */
	background-color: #fafafa; /* #f8f4eb; */
}
table.bg_rutube_videoPlayListTable tr:hover {
	/* фон выделенной строки */
	background-color: #cccccc; /* #FAEBCD; */ 
}
table.bg_rutube_videoPlayListTable td {
	padding-left: 10px;
	padding-right: 5px;
	height: 6rem;
	min-width: 4.5em;
}

table.bg_rutube_videoPlayListInfo td:first-child,
table.bg_rutube_videoPlayListTable td:first-child {
	background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 10rem;
    padding: 0px;
}

@media screen and (max-width: 960px) {
	table.bg_rutube_videoPlayListInfo td:first-child
	table.bg_rutube_videoPlayListTable td:first-child {
		width: 6rem;
	}
	table.bg_rutube_videoPlayListInfo td,
	table.bg_rutube_videoPlayListTable td {
		padding-left: 5px;
		padding-right: 2px;
		height: 4.5rem;
		min-width: 3em;
	}
}
/* ============================
MOVIE NAVIGATION
============================ */
table.bg_rutube_nav_movies {
	width: 100%;
}

.bg_rutube_navButton {
	width: 12rem;
	cursor: pointer;
	padding: 6px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */      }

.bg_rutube_navButton:hover {
	color: darkred;
}
.bg_rutube_navButton:active {
	color: red;
}

